#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 0.5rem;
  /* background-color: rgb(112, 112, 112); */
}