.Note {
    border: 2px solid rgb(219, 218, 218);
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    margin: 3px;
    padding: 2px;
    background-color: rgb(20, 20, 20);
    color: azure
}

.Note span {
    white-space: pre-wrap;
}

@media (prefers-color-scheme: light) {
    .Note {
        background-color: rgb(255, 253, 253);
        color: rgb(116, 117, 117)
    }
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}